.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media only screen and (min-width: 600px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
