.card {
  display: flex;
  flex-direction: column;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
}

.label {
  font-size: 0.75em;
}

.avatar {
  vertical-align: middle;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
